.image-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('https://res.cloudinary.com/dgisuffs0/image/upload/q_auto/v1656078290/Victoriavisaconsultants/123_axre8a.jpg');
}
