.aside-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('https://res.cloudinary.com/dgisuffs0/image/upload/q_auto/v1656078283/Victoriavisaconsultants/104_zggwjr.jpg');
}
